<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>		
		<add name="ElevatorSimDb" connectionString="/to24Aymd5AYnP/RWl6NqfkeZSJDiPd1DpDuDi0fHgv++G2rdMDvTqTBGrnumB/Cax2CJ6ZW/9DAB/8pktOx3LF/fzXelpc1FTqRquo499wEkqkxXrZ7Koj2+6Z7OCfuGuNbao8h2FoY6QtHBl6Rsr7FzQvjrwUbjlyXUgOjBCaxFxwGsrVMHHgCNFlBKe7jQAa3Mm9EwjnpBteRW94JrK1zqPtf5xHSVVylqIBrXh71qY/0M+XzpdEY+71hsISuNkdwtU9L/1BTNxr36ah02bui7WZl4U5A92fLtPBT4XbqWFMnE5vIaSD1zyq7CV2d" />
	</connectionStrings>
</configuration>